In [42]:
# Installing necessary packages
!pip install pyarrow
!pip install azure-storage-blob

Collecting pyarrow
  Downloading pyarrow-21.0.0-cp311-cp311-win_amd64.whl.metadata (3.4 kB)
Downloading pyarrow-21.0.0-cp311-cp311-win_amd64.whl (26.2 MB)
   ---------------------------------------- 0.0/26.2 MB ? eta -:--:--
    --------------------------------------- 0.5/26.2 MB 3.4 MB/s eta 0:00:08
   - -------------------------------------- 1.3/26.2 MB 3.4 MB/s eta 0:00:08
   -- ------------------------------------- 1.8/26.2 MB 3.7 MB/s eta 0:00:07
   ---- ----------------------------------- 3.1/26.2 MB 3.8 MB/s eta 0:00:07
   ----- ---------------------------------- 3.9/26.2 MB 3.9 MB/s eta 0:00:06
   ------- -------------------------------- 4.7/26.2 MB 3.9 MB/s eta 0:00:06
   -------- ------------------------------- 5.5/26.2 MB 3.9 MB/s eta 0:00:06
   --------- ------------------------------ 6.3/26.2 MB 3.8 MB/s eta 0:00:06
   ---------- ----------------------------- 7.1/26.2 MB 3.8 MB/s eta 0:00:06
   ----------- ---------------------------- 7.9/26.2 MB 3.9 MB/s eta 0:00:05
   ------------- -------------------------- 8.9/26.2 MB 3.9 MB/s eta 0:00:05
   -------------- ------------------------- 9.7/26.2 MB 3.9 MB/s eta 0:00:05
   --------------- ------------------------ 10.5/26.2 MB 3.9 MB/s eta 0:00:05
   ----------------- ---------------------- 11.5/26.2 MB 3.9 MB/s eta 0:00:04
   ------------------ --------------------- 12.1/26.2 MB 3.9 MB/s eta 0:00:04
   ------------------- -------------------- 13.1/26.2 MB 3.9 MB/s eta 0:00:04
   -------------------- ------------------- 13.6/26.2 MB 3.9 MB/s eta 0:00:04
   ---------------------- ----------------- 14.7/26.2 MB 3.9 MB/s eta 0:00:03
   ----------------------- ---------------- 15.5/26.2 MB 3.9 MB/s eta 0:00:03
   ------------------------- -------------- 16.5/26.2 MB 4.0 MB/s eta 0:00:03
   --------------------------- ------------ 17.8/26.2 MB 4.0 MB/s eta 0:00:03
   ---------------------------- ----------- 18.9/26.2 MB 4.1 MB/s eta 0:00:02
   ------------------------------ --------- 19.9/26.2 MB 4.2 MB/s eta 0:00:02
   ------------------------------- -------- 21.0/26.2 MB 4.2 MB/s eta 0:00:02
   --------------------------------- ------ 22.0/26.2 MB 4.2 MB/s eta 0:00:01
   ----------------------------------- ---- 23.1/26.2 MB 4.3 MB/s eta 0:00:01
   ------------------------------------- -- 24.4/26.2 MB 4.3 MB/s eta 0:00:01
   ---------------------------------------  25.7/26.2 MB 4.4 MB/s eta 0:00:01
   ---------------------------------------- 26.2/26.2 MB 4.3 MB/s eta 0:00:00
Installing collected packages: pyarrow
Successfully installed pyarrow-21.0.0

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: C:\Users\user\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Collecting azure-storage-blob
  Downloading azure_storage_blob-12.26.0-py3-none-any.whl.metadata (26 kB)
Collecting azure-core>=1.30.0 (from azure-storage-blob)
  Downloading azure_core-1.35.0-py3-none-any.whl.metadata (44 kB)
Collecting cryptography>=2.1.4 (from azure-storage-blob)
  Downloading cryptography-45.0.6-cp311-abi3-win_amd64.whl.metadata (5.7 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from azure-storage-blob) (4.14.1)
Collecting isodate>=0.6.1 (from azure-storage-blob)
  Downloading isodate-0.7.2-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: requests>=2.21.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from azure-core>=1.30.0->azure-storage-blob) (2.32.4)
Requirement already satisfied: six>=1.11.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from azure-core>=1.30.0->azure-storage-blob) (1.17.0)
Collecting cffi>=1.14 (from cryptography>=2.1.4->azure-storage-blob)
  Using cached cffi-1.17.1-cp311-cp311-win_amd64.whl.metadata (1.6 kB)
Collecting pycparser (from cffi>=1.14->cryptography>=2.1.4->azure-storage-blob)
  Using cached pycparser-2.22-py3-none-any.whl.metadata (943 bytes)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests>=2.21.0->azure-core>=1.30.0->azure-storage-blob) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests>=2.21.0->azure-core>=1.30.0->azure-storage-blob) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests>=2.21.0->azure-core>=1.30.0->azure-storage-blob) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests>=2.21.0->azure-core>=1.30.0->azure-storage-blob) (2025.7.14)
Downloading azure_storage_blob-12.26.0-py3-none-any.whl (412 kB)
Downloading azure_core-1.35.0-py3-none-any.whl (210 kB)
Downloading cryptography-45.0.6-cp311-abi3-win_amd64.whl (3.4 MB)
   ---------------------------------------- 0.0/3.4 MB ? eta -:--:--
   ------------------ --------------------- 1.6/3.4 MB 7.6 MB/s eta 0:00:01
   ------------------------------------ --- 3.1/3.4 MB 7.7 MB/s eta 0:00:01
   ---------------------------------------- 3.4/3.4 MB 7.4 MB/s eta 0:00:00
Using cached cffi-1.17.1-cp311-cp311-win_amd64.whl (181 kB)
Downloading isodate-0.7.2-py3-none-any.whl (22 kB)
Using cached pycparser-2.22-py3-none-any.whl (117 kB)
Installing collected packages: pycparser, isodate, cffi, azure-core, cryptography, azure-storage-blob

   ---------------------------------------- 0/6 [pycparser]
   ---------------------------------------- 0/6 [pycparser]
   ---------------------------------------- 0/6 [pycparser]
   ------ --------------------------------- 1/6 [isodate]
   ------------- -------------------------- 2/6 [cffi]
   ------------- -------------------------- 2/6 [cffi]
   -------------------- ------------------- 3/6 [azure-core]
   -------------------- ------------------- 3/6 [azure-core]
   -------------------- ------------------- 3/6 [azure-core]
   -------------------- ------------------- 3/6 [azure-core]
   -------------------- ------------------- 3/6 [azure-core]
   -------------------- ------------------- 3/6 [azure-core]
   -------------------- ------------------- 3/6 [azure-core]
   -------------------- ------------------- 3/6 [azure-core]
   -------------------------- ------------- 4/6 [cryptography]
   -------------------------- ------------- 4/6 [cryptography]
   -------------------------- ------------- 4/6 [cryptography]
   -------------------------- ------------- 4/6 [cryptography]
   -------------------------- ------------- 4/6 [cryptography]
   -------------------------- ------------- 4/6 [cryptography]
   -------------------------- ------------- 4/6 [cryptography]
   -------------------------- ------------- 4/6 [cryptography]
   --------------------------------- ------ 5/6 [azure-storage-blob]
   --------------------------------- ------ 5/6 [azure-storage-blob]
   --------------------------------- ------ 5/6 [azure-storage-blob]
   --------------------------------- ------ 5/6 [azure-storage-blob]
   --------------------------------- ------ 5/6 [azure-storage-blob]
   --------------------------------- ------ 5/6 [azure-storage-blob]
   --------------------------------- ------ 5/6 [azure-storage-blob]
   --------------------------------- ------ 5/6 [azure-storage-blob]
   --------------------------------- ------ 5/6 [azure-storage-blob]
   --------------------------------- ------ 5/6 [azure-storage-blob]
   --------------------------------- ------ 5/6 [azure-storage-blob]
   ---------------------------------------- 6/6 [azure-storage-blob]

Successfully installed azure-core-1.35.0 azure-storage-blob-12.26.0 cffi-1.17.1 cryptography-45.0.6 isodate-0.7.2 pycparser-2.22

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: C:\Users\user\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [44]:
!pip install python-dotenv

Requirement already satisfied: python-dotenv in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (1.1.1)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: C:\Users\user\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [45]:
# Import Necesary Libraries
import pandas as pd
import os
import io
from azure.storage.blob import BlobServiceClient, BlobClient
from dotenv import load_dotenv

In [19]:
# Extraction Layer
ziko_df = pd.read_csv(r'ziko_logistics_data.csv')

In [20]:
ziko_df.head()

,Transaction_ID,Date,Customer_ID,Product_ID,Quantity,Unit_Price,Total_Cost,Discount_Rate,Sales_Channel,Order_Priority,...,Return_Reason,Payment_Type,Taxable,Region,Country,Customer_Name,Customer_Phone,Customer_Email,Customer_Address,Product_List_Title
0,200,2020-01-01 20:32:25.945945945,1086,536,3,120.436821,8265.374549,0.20,Online,High,...,Wrong Item,Wire Transfer,False,West,Canada,Customer 200,+1-652-572-9306,customer.200.78@example.com,"275 Second St, Phoenix, USA",Product 53
1,321,2020-01-02 06:55:08.108108108,1078,523,6,475.724994,4047.850479,NaN,Reseller,Critical,...,Damaged,PayPal,True,South,Mexico,Customer 321,+1-311-186-5760,customer.321.13@sample.com,"478 Third St, New York, USA",Product 33
2,989,2020-01-06 08:12:58.378378378,1077,535,3,146.400556,NaN,0.05,Direct,Critical,...,Damaged,PayPal,True,West,Canada,Customer 989,+1-922-606-9032,customer.989.99@example.com,"843 Second St, Phoenix, USA",Product 6
3,682,2020-01-07 22:03:14.594594594,1027,546,6,19.373194,8194.281993,NaN,Reseller,Medium,...,Wrong Item,Cash,True,South,Canada,Customer 682,+1-237-853-5808,customer.682.66@demo.com,"153 Main St, Phoenix, USA",Product 68
4,484,2020-01-07 07:08:06.486486486,1052,556,8,193.221313,8331.329249,0.20,Direct,Low,...,Late,Cash,False,South,Mexico,Customer 484,+1-986-360-9109,customer.484.3@sample.com,"264 Second St, New York, USA",Product 89

In [21]:
ziko_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1005 entries, 0 to 1004
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Transaction_ID         1005 non-null   int64
 1   Date                   1005 non-null   object
 2   Customer_ID            1005 non-null   int64
 3   Product_ID             1005 non-null   int64
 4   Quantity               1005 non-null   int64
 5   Unit_Price             904 non-null    float64
 6   Total_Cost             905 non-null    float64
 7   Discount_Rate          714 non-null    float64
 8   Sales_Channel          1005 non-null   object
 9   Order_Priority         1005 non-null   object
 10  Warehouse_Code         1005 non-null   object
 11  Ship_Mode              1005 non-null   object
 12  Delivery_Status        1005 non-null   object
 13  Customer_Satisfaction  1005 non-null   object
 14  Item_Returned          1005 non-null   bool
 15  Return_Reason          904 non-null    object
 16  Payment_Type           1005 non-null   object
 17  Taxable                1005 non-null   bool
 18  Region                 1005 non-null   object
 19  Country                1005 non-null   object
 20  Customer_Name          1005 non-null   object
 21  Customer_Phone         1005 non-null   object
 22  Customer_Email         1005 non-null   object
 23  Customer_Address       1005 non-null   object
 24  Product_List_Title     1005 non-null   object
dtypes: bool(2), float64(3), int64(4), object(16)
memory usage: 182.7+ KB

In [22]:
ziko_df.columns

Index(['Transaction_ID', 'Date', 'Customer_ID', 'Product_ID', 'Quantity',
       'Unit_Price', 'Total_Cost', 'Discount_Rate', 'Sales_Channel',
       'Order_Priority', 'Warehouse_Code', 'Ship_Mode', 'Delivery_Status',
       'Customer_Satisfaction', 'Item_Returned', 'Return_Reason',
       'Payment_Type', 'Taxable', 'Region', 'Country', 'Customer_Name',
       'Customer_Phone', 'Customer_Email', 'Customer_Address',
       'Product_List_Title'],
      dtype='object')

In [23]:
# Data cleaning and transformation
ziko_df.fillna({
    'Unit_Price' : ziko_df['Unit_Price'].mean(),
    'Total_Cost' : ziko_df['Total_Cost'].mean(),
    'Discount_Rate' : 0.0,
    'Return_Reason' : 'Unknown'
}, inplace=True)

In [27]:
# Correct the date datatype
ziko_df['Date'] = pd.to_datetime(ziko_df['Date'])

In [28]:
ziko_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1005 entries, 0 to 1004
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Transaction_ID         1005 non-null   int64
 1   Date                   1005 non-null   datetime64[ns]
 2   Customer_ID            1005 non-null   int64
 3   Product_ID             1005 non-null   int64
 4   Quantity               1005 non-null   int64
 5   Unit_Price             1005 non-null   float64
 6   Total_Cost             1005 non-null   float64
 7   Discount_Rate          1005 non-null   float64
 8   Sales_Channel          1005 non-null   object
 9   Order_Priority         1005 non-null   object
 10  Warehouse_Code         1005 non-null   object
 11  Ship_Mode              1005 non-null   object
 12  Delivery_Status        1005 non-null   object
 13  Customer_Satisfaction  1005 non-null   object
 14  Item_Returned          1005 non-null   bool
 15  Return_Reason          1005 non-null   object
 16  Payment_Type           1005 non-null   object
 17  Taxable                1005 non-null   bool
 18  Region                 1005 non-null   object
 19  Country                1005 non-null   object
 20  Customer_Name          1005 non-null   object
 21  Customer_Phone         1005 non-null   object
 22  Customer_Email         1005 non-null   object
 23  Customer_Address       1005 non-null   object
 24  Product_List_Title     1005 non-null   object
dtypes: bool(2), datetime64[ns](1), float64(3), int64(4), object(15)
memory usage: 182.7+ KB

In [29]:
ziko_df.columns

Index(['Transaction_ID', 'Date', 'Customer_ID', 'Product_ID', 'Quantity',
       'Unit_Price', 'Total_Cost', 'Discount_Rate', 'Sales_Channel',
       'Order_Priority', 'Warehouse_Code', 'Ship_Mode', 'Delivery_Status',
       'Customer_Satisfaction', 'Item_Returned', 'Return_Reason',
       'Payment_Type', 'Taxable', 'Region', 'Country', 'Customer_Name',
       'Customer_Phone', 'Customer_Email', 'Customer_Address',
       'Product_List_Title'],
      dtype='object')

In [30]:
# Customer table
customer = ziko_df[['Customer_ID','Customer_Name','Customer_Phone', 'Customer_Email', 'Customer_Address']].copy().drop_duplicates().reset_index(drop=True)

customer.head()

,Customer_ID,Customer_Name,Customer_Phone,Customer_Email,Customer_Address
0,1086,Customer 200,+1-652-572-9306,customer.200.78@example.com,"275 Second St, Phoenix, USA"
1,1078,Customer 321,+1-311-186-5760,customer.321.13@sample.com,"478 Third St, New York, USA"
2,1077,Customer 989,+1-922-606-9032,customer.989.99@example.com,"843 Second St, Phoenix, USA"
3,1027,Customer 682,+1-237-853-5808,customer.682.66@demo.com,"153 Main St, Phoenix, USA"
4,1052,Customer 484,+1-986-360-9109,customer.484.3@sample.com,"264 Second St, New York, USA"

In [31]:
customer.shape

(1000, 5)

In [34]:
# Product table
product = ziko_df[['Product_ID','Product_List_Title','Quantity','Unit_Price','Discount_Rate']].copy().drop_duplicates().reset_index(drop=True)

product.head()

   Product_ID Product_List_Title  Quantity  Unit_Price  Discount_Rate
0         536         Product 53         3  120.436821           0.20
1         523         Product 33         6  475.724994           0.00
2         535          Product 6         3  146.400556           0.05
3         546         Product 68         6   19.373194           0.00
4         556         Product 89         8  193.221313           0.20

In [35]:
product.shape

(1000, 5)

In [38]:
# Transaction_fact_table
transaction_fact = ziko_df.merge(customer, on=['Customer_ID','Customer_Name','Customer_Phone', 'Customer_Email', 'Customer_Address'], how='left') \
                          .merge(product, on=['Product_ID','Product_List_Title','Quantity','Unit_Price', 'Discount_Rate'], how='left') \
                          [['Transaction_ID', 'Date', 'Customer_ID', 'Product_ID', 'Total_Cost', 'Sales_Channel','Order_Priority', \
                            'Warehouse_Code', 'Ship_Mode', 'Delivery_Status','Customer_Satisfaction', 'Item_Returned', 'Return_Reason', \
                            'Payment_Type', 'Taxable', 'Region', 'Country']]

In [39]:
transaction_fact.head()

,Transaction_ID,Date,Customer_ID,Product_ID,Total_Cost,Sales_Channel,Order_Priority,Warehouse_Code,Ship_Mode,Delivery_Status,Customer_Satisfaction,Item_Returned,Return_Reason,Payment_Type,Taxable,Region,Country
0,200,2020-01-01 20:32:25.945945945,1086,536,8265.374549,Online,High,WH-3,2-Day,Cancelled,Neutral,False,Wrong Item,Wire Transfer,False,West,Canada
1,321,2020-01-02 06:55:08.108108108,1078,523,4047.850479,Reseller,Critical,WH-1,Overnight,Backorder,Satisfied,True,Damaged,PayPal,True,South,Mexico
2,989,2020-01-06 08:12:58.378378378,1077,535,5096.553818,Direct,Critical,WH-1,Overnight,Pending,Unsatisfied,True,Damaged,PayPal,True,West,Canada
3,682,2020-01-07 22:03:14.594594594,1027,546,8194.281993,Reseller,Medium,WH-1,Express,Pending,Unsatisfied,False,Wrong Item,Cash,True,South,Canada
4,484,2020-01-07 07:08:06.486486486,1052,556,8331.329249,Direct,Low,WH-2,2-Day,Delivered,Satisfied,True,Late,Cash,False,South,Mexico

In [ ]:
transaction_fact['Date'] = transaction_fact['Date'].astype('datatime64[us]')

In [41]:
# temporary loading
customer.to_csv(r'dataset/customer.csv', index=False)
product.to_csv(r'dataset/product.csv', index=False)
transaction_fact.to_csv(r'dataset/transaction_fact.csv', index=False)

In [ ]:
# Data loading
# azure blob connection
connect_str = ''
blob_service_client = BlobServiceClient.from_connection_string(connect_str)

container_name = 'zikologisticscontainer'
container_client = blob_service_client.get_container_client(container_name)

In [ ]:
# Data loading
# azure blob connection
load_dotenv()

connect_str = os.getenv('CONNECT_STR')
blob_service_client = BlobServiceClient.from_connection_string(connect_str)

container_name = os.getenv('CONTAINER_NAME')
container_client = blob_service_client.get_container_client(container_name)

In [ ]:
# create a function that would load the data into azure blob storage as a parquet file

def upload_df_to_blob_as_parquet(df, container_client, blob_name):
    buffer = io.BytesIO()
    df.to_parquet(buffer, index=False)
    buffer.seek(0)
    blob_client = container_client.get_blob_cliant(blob_name)
    blob_client.upload_blob(buffer, blob_type="BlockBlob", overwrite=True)
    print(f'{blob_name} upload to Blob storage successfuly')

In [ ]:
upload_df_to_blob_as_parquet(customer, container_client, 'rawdata/customer.parquet')
upload_df_to_blob_as_parquet(product, container_client, 'rawdata/product.parquet')
upload_df_to_blob_as_parquet(transaction_fact, container_client, 'rawdata/customer.parquet')